{% extends "bases/auth.html" %}
{% block auth-content %}
    <form class="custom-form" method="POST">
        {% csrf_token %}
        <h3>Sign In</h3>
        {% for field in form %}
            <div class="form-group">
                <label for="">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        <p class="forgot-password text-right">
            Don't have a profile? <a href="{% url "register" %}">register</a>
        </p>
    </form>
{% endblock %}