{% extends "bases/base.html" %}
{% load static %}
{% block css_and_js_loads %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
{% endblock %}


{% block content %}
    <div class="auth-wrapper">
        <div class="auth-inner">
            <form method="POST">
                {% csrf_token %}
                <h3>Sign Up</h3>
                {% for field in form %}
                    <div class="form-group">
                        <label for="">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                <p class="forgot-password text-right">Already registered <a>sign in?</a>
                </p>
            </form>
        </div>
    </div>
    {{ form.errors }}
{% endblock %}