{% extends "bases/auth.html" %}
{% block auth-content %}
    <form method="POST">
        {% csrf_token %}
        <h3>Sign Up</h3>
        {% for field in form %}
            <div class="form-group">
                <label for="">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        <p class="forgot-password text-right">Already registered <a href="{% url "login" %}">sign in</a>
        </p>
    </form>
{% endblock %}