tbody tr:hover {
    background-color: gray;
    color: white;
}



th  td {
    text-align: left;
}

table th  {
    width: 100px !important;
}


table {
    margin : 0;
    background: white;

}


#content {
    margin: 0;
    width: 100%;

}