tbody tr:hover {
    background-color: #121028;
    color: white;
}



th  td {
    text-align: left;
}

table th  {
    width: 100px !important;
}


table {
    margin : 0;
    background: white;

}


#content {
    margin: 0;
    width: 100%;
}

#delete-button {
    background: red;
    width: 150px;
    position: absolute;
}