{% extends "bases/base.html" %}

{% load static %}
{% block css_and_js_loads %}
    <link rel="stylesheet" href="{% static "css/send-email.css" %}">
    <script>
        function onTemplateClick(ev) {
            const templateInput = document.getElementById("template-input")
            ev.preventDefault()
            console.log(ev.target)
            console.log(ev.target.getAttribute("data-id"))
            templateInput.value =  ev.target.getAttribute("data-id")
        }

        window.onload = () => {
            Array.from(document.querySelector(".thumbnails").querySelectorAll("img")).forEach(el => {
                el.addEventListener("click", onTemplateClick)
            })
        }
    </script>
    {% block main_folder_scripts %}

    {% endblock %}

{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="first-row">
            <div class="form-content">
                {% block sender_form_header %}

                {% endblock %}
            </div>
            <ul class="thumbnails">
                {% for template in templates %}
                    <li><img src="{{ template.thumbnail.url }}" data-id="{{ template.name }}" alt="image not found"/></li>

                {% endfor %}
            </ul>
        </div>
        <div class="description">
            {{ form.message }}
        </div>
        <button>Submit</button>
        {% block additional_data %}

        {% endblock %}
    </form>
    {{ form.errors }}

{% endblock %}



