{% extends "base.html" %}
{% load static %}


{% block css_and_js_loads %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
    <style>
    .row {
        display: flex;
        align-items: center;
    }

    .row-first-label{
        width: 10px;
        margin: 0;
    }
    .row-second-label{
        padding-left: 10px;
        margin: 0;
    }


    </style>
{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-inner">
            <form method="POST">
                {% csrf_token %}
                <h3>Create Group</h3>
                <div class="content-wrapper">
                    {% for option in form.receivers%}
                        <div class="row">
                        <label class="row-first-label">{{ option.tag }}</label>
                        <p class="row-second-label">{{ option.choice_label }}</p>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
        </div>
    <div class="auth-inner">
            <form method="POST">
                {% csrf_token %}
                <h3>Create Group</h3>
                <div class="content-wrapper">
                    {% for option in form.receivers%}
                        <div class="row">
                        <label class="row-first-label">{{ option.tag }}</label>
                        <p class="row-second-label">{{ option.choice_label }}</p>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
        </div>
    </div>
{% endblock %}