{% extends "base.html" %}
{% load static %}



{% block css_and_js_loads %}
    <link href="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.js"></script>
    <link rel="stylesheet" href="{% static "css/add-group.css" %}">
    <script src="{% static "js/add-group.js" %}" type="module"></script>
{% endblock %}




{% block content %}
    <div class="auth-wrapper">
        <div class="auth-inner">
            <form method="POST">
                {% csrf_token %}
                <h3>Create Group</h3>
                <div class="content-wrapper">
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
            <div>
                <p style="display: inline-block">Selected </p>
                <p id="counter">0</p>
            </div>

        </div>
    </div>
    <div class="auth-wrapper">
        <div class="auth-inner">
            <h2 style="text-align: center">Select Emails</h2>
            {{ filter_form }}
            <p>Age:</p>
            <div id="slider">
            </div>
            <div class="show-range">
                <div>From :
                    <div id="from"></div>
                </div>
                <div>To :
                    <div id="to"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="select-button">Select</button>
        </div>

    </div>

{% endblock %}
