{% extends "base.html" %}
{% load static %}
{% block css_and_js_loads %}
    <style>
        #content {
            display: flex;

        }

        #filter-div {
            background: green;
            margin-left: 10px;
            width: 300px;
            text-align: center;
        }
    </style>
    <link href="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/noUiSlider/8.5.1/nouislider.js"></script>
    <script>
        function a() {
            const slider = document.getElementById('slider');
            noUiSlider.create(slider, {
                start: [20, 80],
                connect: true,
                range: {
                    'min': 0,
                    'max': 100
                },
            });
            const from = document.querySelector("#from")
            const to = document.querySelector("#to")
            slider.noUiSlider.on("update", (values) => {
                values = values.map(el => Number.parseInt(el))
                let [start, end] = values
                from.textContent = start
                to.textContent = end
            })
        }
    </script>


{% endblock %}
{% block content %}
    <div class="auth-wrapper">
        <div class="auth-inner">
            <form method="POST">
                {% csrf_token %}
                <h3>Create Group</h3>
                <div class="content-wrapper">
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
        </div>

    </div>
    <div id="filter-div">
        {{ filter_form }}
    <div id="slider">

        </div>
        <div class="show-range">
            <div id="from"></div>
            <div id="to"></div>
        </div>
    </div>
    <script>a()</script>
{% endblock %}
