{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mailer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
    <link rel="stylesheet" href="{% static "css/navbars/sidenav.css" %}">

    <script>
        window.onload = () => {
            let groupLink = document.querySelector("#group-menu")
            let groupMenu = document.querySelector("#group-ul")
            groupLink.addEventListener("click", () => {
                groupMenu.classList.toggle("collapse")
            })
        }
    </script>

    {% block css_and_js_loads %}

    {% endblock %}


</head>
<div id="mySidenav" class="topnav">
    <a href= {% url "add receiver" %}>Add receiver</a>
    <a href="#">Edit Profile</a>
    <a href="{% url "add group" %}">Create Group</a>
    <a href="#">Contact</a>
</div>


<div class="wrapper">
    {% include "navbars/sidenav.html" %}

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</div>
<body>

</body>
</html>