{% extends "bases/base.html" %}
{% load static %}

{% block css_and_js_loads %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
{% endblock %}


{% block content %}
    <div class="auth-wrapper">
        <div class="auth-inner">
            <form class="custom-form" method="POST">
                {% csrf_token %}
                <h3>Edit Profile</h3>
                <p style="text-align: center">Enter your email password to authenticate your real email and let this app send emails from
                    it</p>
                {% for field in form %}
                    <div class="form-group">
                        <label for="">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
    {% for key , value in form.errors.items %}
        {{ value }}
    {% endfor %}

{% endblock %}