{% extends "bases/base.html" %}
{% load static %}
{% load cloudinary %}
{% block css_and_js_loads %}
    <style>
        img {
            background: white;
            margin: 40px;
            width: 80%;
        }



    </style>
    {#    <script>#}
    {#        window.onload = () => {#}
    {#            document.getElementsByTagName("button")[0].addEventListener("click", (ev) => {#}
    {#                ev.preventDefault()#}
    {#                document.querySelector(".modal").style.display = "block"#}
    {#            })#}
    {#        }#}
    {#    </script>#}

{% endblock %}
{% block content %}
    <img src="{{ image }}" alt="">

{% endblock %}
