{% extends "base.html" %}
{% load static %}

{% block css_and_js_loads %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
{% endblock %}


{% block content %}

    <div class="auth-wrapper">
        <div class="auth-inner">
            <form class="custom-form">
                <h3>Sign In</h3>
                <div class="form-group">
                    <label>Enter Username</label>
                    <input type="email" class="form-control" placeholder="Enter username"/>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter password"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                <p class="forgot-password text-right">
                    Forgot <a href="#">password?</a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}