{% extends "base.html" %}
{% block css_and_js_loads %}
    <style>
        #content {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: flex-end;
        }

        .thumbnails {
            overflow-x: auto;
            height: 20REM;
            width: 25%;
            list-style: none;
            background: black;
            padding: 10px;
            margin-right: 10px;
        }

        .thumbnails li {
            border: 1px solid black;
        }

        .thumbnails a {
            display: block;
        }

        .thumbnails img {
            width: 100%;
        }

        .first-row {
            display: flex;
            justify-content: space-between;
        }

        form {
            width: 100%;
        }
    </style>


{% endblock %}
{% block content %}
    <form action="">
        <div class="first-row">
            <div class="form-content">fwefwe</div>
            <ul class="thumbnails">
                <li>
                    <a href="#slide1"><img
                            src="https://www.lifewire.com/thmb/_Kwbk6Eien6Bn0Kr1FM1NKvA6pQ=/1002x564/smart/filters:no_upscale()/jpg-files-591e000b5f9b58f4c0912446.png"/></a>
                </li>
                <li>
                    <a href="#slide2"><img
                            src="https://www.lifewire.com/thmb/_Kwbk6Eien6Bn0Kr1FM1NKvA6pQ=/1002x564/smart/filters:no_upscale()/jpg-files-591e000b5f9b58f4c0912446.png"/></a>
                </li>
                <li>
                    <a href="#slide3"><img
                            src="https://www.lifewire.com/thmb/_Kwbk6Eien6Bn0Kr1FM1NKvA6pQ=/1002x564/smart/filters:no_upscale()/jpg-files-591e000b5f9b58f4c0912446.png"/></a>
                </li>
                <li>
                    <a href="#slide4"><img
                            src="https://www.lifewire.com/thmb/_Kwbk6Eien6Bn0Kr1FM1NKvA6pQ=/1002x564/smart/filters:no_upscale()/jpg-files-591e000b5f9b58f4c0912446.png"/></a>
                </li>
                <li>
                    <a href="#slide5"><img
                            src="https://www.lifewire.com/thmb/_Kwbk6Eien6Bn0Kr1FM1NKvA6pQ=/1002x564/smart/filters:no_upscale()/jpg-files-591e000b5f9b58f4c0912446.png"/></a>
                </li>
            </ul>
        </div>
        <div class="second-row">
            fdewfewfew
        </div>
    </form>
{% endblock %}



