{% extends "base.html" %}

{% load static %}
{% block css_and_js_loads %}
    <link rel="stylesheet" href="{% static "css/send-email.css" %}">
    <script>
        function onTemplateClick(ev) {
            console.log(1)
            const templateInput = document.getElementById("template-input")
            ev.preventDefault()
            templateInput.value = ev.target.src
        }

        window.onload = () => {
            Array.from(document.querySelector(".thumbnails").querySelectorAll("img")).forEach(el => {
                el.addEventListener("click", onTemplateClick)
            })
        }
    </script>


{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="first-row">
            <div class="form-content">
                {% block sender_form_header %}
                    <label for="">{{ form.fields.email.label }}</label>
                    {{ form.email }}

                    <label for="">{{ form.fields.subject.label }}</label>
                    {{ form.subject }}
                    <label for="">{{ form.fields.template.label }}</label>
                    {{ form.template }}
                {% endblock %}
            </div>
            <ul class="thumbnails">
                {% for template in templates %}
                    <li>
                        <img onclick="onTemplateClick"
                             src="{{ template }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="description">
            {{ form.message }}
        </div>
        <button>Submit</button>
        {% block additional_data %}

        {% endblock %}
    </form>


{% endblock %}



