{% extends "base.html" %}
{% load static %}
{% block css_and_js_loads %}
    <link rel="stylesheet" href="{% static "css/table.css" %}">
    <script>

        async function getData(csrfToken, session) {
            let url = "http://localhost:8000/api/group"
            let cookieString = `csrftoken=${csrfToken}; sessionid=${session}`
            let response = await fetch(url, {
                method: "get",
                headers: {
                    "content-type": "application/json",
                    "Cookie": cookieString,
                    "Access-Control-Allow-Origin": "*"
                }
            })
            return await response.json()
        }

        window.onload = async () => {
            await getData
        }
    </script>
{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Receiver</th>
            <th scope="col">Subject</th>
            <th scope="col">Creation date</th>
            <th scope="col">Template</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Mark</td>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias possimus, voluptatem. Adipisci
            </td>
            <td>@mdo</td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@twitter</td>
        </tr>
        <tr onclick="">
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
