{% extends "base.html" %}
{% load static %}
{% block css_and_js_loads %}
    <link rel="stylesheet" href="{% static "css/table.css" %}">
    <script type="module" src="{% static "js/showTable.js" %}"></script>

{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Receiver</th>
            <th scope="col">Subject</th >
            <th scope="col">Creation date</th>
            <th scope="col">Template</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}
