
<nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mailer</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a data-toggle="collapse" href="#">Folder</a>
            </li>
            <li>
                <a href="#">Bin</a>
            </li>
            <li>
                <a href="#pageSubmenu" id="group-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Groups</a>
                <ul class="collapse list-unstyled" id="group-ul">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>
</nav>