{% load display_groups %}
{% display_groups as groups %}
<nav id="sidebar">
    <div class="sidebar-header">

        <h3><p>Mailer</p></h3>
    </div>
    <ul class="list-unstyled components" >
        <li>
            <i class="fa fa-solid fa-envelope-open"></i>
            <a data-toggle="collapse" href="{% url "folder" %}">Folder
            </a>
        </li>
        <li>
            <i class="fa fa-solid fa-trash"></i>
            <a href="{% url "bin" %}">Bin</a>
        </li>
        <li>
            <i class="fa fa-solid fa-users"></i>
            <a href="#" id="group-menu" data-toggle="collapse"  class="dropdown-toggle">Groups</a>
            <ul class="collapse list-unstyled" id="group-ul">
                {% for foo in groups %}
                    <li>
                        <a href="{{ foo.id }}">{{ foo.name }}</a>
                    </li>

                {% endfor %}
            </ul>
        </li>
    </ul>
    <div id="user-auth-content">
        <div>content</div>
    </div>
</nav>